{% extends "base.html" %} {% block content %}
<div class="container">
  <h2>Your Saved Recipes</h2>

  {% if saved_recipes %}
  <div class="row">
    {% for recipe in saved_recipes %}
    <div class="col-lg-6 mb-4">
      <div class="card h-100 border-primary">
        <img
          src="{{ recipe.image }}"
          class="card-img-top"
          alt="{{ recipe.title }}"
        />
        <div class="card-body">
          <h3 class="card-title">{{ recipe.title }}</h3>
          <div class="recipe-section">
            <strong>Ingredients:</strong>
            <ul class="recipe-list">
              {% for ingredient in recipe.unique_ingredients %}
              <li>{{ ingredient }}</li>
              {% endfor %}
            </ul>
          </div>
          <div class="recipe-section">
            <strong>Instructions:</strong>
            <ol class="recipe-list">
              {% for step in recipe.unique_instructions.split('\n') %}
              <li>{{ step }}</li>
              {% endfor %}
            </ol>
          </div>
          <div class="recipe-section">
            <strong>Total Nutrition:</strong>
            <ul class="recipe-list">
              {% for nutrient in recipe.nutrition %} {% if nutrient.name in
              ["Calories", "Fat", "Saturated Fat", "Carbohydrates", "Net
              Carbohydrates", "Sugar", "Cholesterol", "Sodium", "Protein"] %}
              <li>
                {{ nutrient.name }} - {{ nutrient.amount }} {{ nutrient.unit }}
              </li>
              {% endif %} {% endfor %}
            </ul>
          </div>
        </div>
        <div class="card-footer">
          <form
            method="POST"
            action="{{ url_for('remove_saved_recipe', recipe_id=recipe.id) }}"
          >
            <input type="hidden" name="recipe_id" value="{{ recipe.id }}" />
            <button type="submit" class="btn btn-danger btn-sm float-right">
              Remove Recipe
            </button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p class="text-center">You haven't saved any recipes yet.</p>
  {% endif %}
</div>
{% endblock %}
