{% extends "base.html" %} {% block content %}
<div class="container search-recipe-container">
  <h2>Search for Recipes</h2>
  <form method="GET" action="{{ url_for('search_results') }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.query.label(class="form-label") }} {{
      form.query(class="form-control form-control-lg", placeholder="Enter search
      query") }}
    </div>
    <div class="form-group">
      {{ form.cuisine.label(class="form-label") }} {{
      form.cuisine(class="form-control form-control-lg", placeholder="Enter
      cuisine") }}
    </div>
    <div class="form-group">
      {{ form.diet.label(class="form-label") }} {{ form.diet(class="form-control
      form-control-lg") }}
    </div>
    <input type="hidden" name="total_results" value="{{ total_results }}" />
    <button type="submit" class="btn btn-primary btn-lg">Search</button>
  </form>
</div>
{% endblock %}
