{% extends "base.html" %} {% block content %}
<div class="container mt-5 text-center">
  <h1>My Shopping List</h1>
  <br />
  <div class="input-group mb-3 mx-auto" style="max-width: 300px">
    <input
      type="text"
      id="itemInput"
      class="form-control"
      placeholder="Add an item"
      aria-label="Add an item"
      aria-describedby="addItemButton"
    />
    <div class="input-group-append">
      <button class="btn btn-primary" type="button" id="addItemButton">
        Add
      </button>
    </div>
  </div>
  <ul id="itemList" class="list-group"></ul>
  <div class="text-center mt-3">
    <button class="btn btn-danger" id="clearListButton">
      Clear Shopping List
    </button>
  </div>
</div>

<script src="static/js/script.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const savedItems = localStorage.getItem("shoppingList");
    if (savedItems) {
      document.getElementById("itemList").innerHTML = savedItems;
    }
  });
</script>

{% endblock %}
